---

---

<div class="dots my-2 h-[9px]"></div>

<style>
	.dots {
		background-image: radial-gradient(
				circle at 1px 1px,
				currentColor 1px,
				transparent 1px
			),
			radial-gradient(
				circle at 1px 8px,
				currentColor 1px,
				transparent 1px
			);
		background-repeat: repeat-x;
		background-size: 9.5px 9px;
	}
</style>
